<template>
    <div>
                                  <form class="form-inline text-right">
										<div class="form-group text-right">
											<el-select  v-model="search.column" slot="prepend" Placeholder="Opciones"  size="mini" @change="changeClearInput">
                                                <el-option v-for="(label, key) in columns" :key="key" :value="key" :label="label"></el-option>
                                            </el-select>
                                            
										</div>
										<div class="form-group text-right">
                                        <template v-if="search.column=='date'">
                                            <el-date-picker
                                                v-model="search.value"
                                                type="date"
                                                placeholder="Buscar"
                                                value-format="yyyy-MM-dd"
                                                @change="getRecords">
                                            </el-date-picker>
                                        </template>
                                        <template v-else>
                                    
                                        <el-input placeholder="Buscar" v-model="search.value" @input="getRecords"></el-input>

                                        </template>
										</div>

									</form>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">

                        <thead>
                        <slot name="heading"></slot>
                        </thead>
                        <tbody>
                        <slot v-for="(row, index) in records" :row="row" :index="customIndex(index)"></slot>
                        </tbody>
                    </table>
                    <div>
                        <el-pagination
                                @current-change="getRecords"
                                layout="total, prev, pager, next"
                                :total="pagination.total"
                                :current-page.sync="pagination.current_page"
                                :page-size="pagination.per_page">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>

    import moment from 'moment'
    import queryString from 'query-string';
    import _ from 'lodash';
    import { Loading } from 'element-ui';

    export default {
        props: {
            resource: String,
        },
        data () {
            return {
                search: {
                    column: null,
                    value: null,
                    loading:true,
                },
                columns: [],
                records: [],
                pagination: {}
            }
        },
        computed: {
        },
        created() {
            this.$eventHub.$on('reloadData', () => {
                this.getRecords()
            })


        },
        async mounted () {

            await this.$http.get(`${this.resource}/columns`).then((response) => {
                this.columns = response.data
                this.search.column = _.head(Object.keys(this.columns))
            });

            await this.getRecords()
        },
        methods: {
            customIndex(index) {
                return (this.pagination.per_page * (this.pagination.current_page - 1)) + index + 1
            },
            getRecords() {
                const loading = this.$loading({
                    target:document.querySelector('.table-responsive'),
                    fullscreen:false,
                    text: 'Espere por Favor, Cargando Registros',
                    spinner: 'el-icon-loading',

                });

                return this.$http.get(`${this.resource}/records?${this.getQueryParameters()}`).then((response) => {
                    this.records = response.data.data
                    this.pagination = response.data.meta
                    this.pagination.per_page = parseInt(response.data.meta.per_page)
                    loading.close();
                });
            },
            getQueryParameters() {
                
                return queryString.stringify({
                    page: this.pagination.current_page,
                    limit: this.limit,
                    ...this.search
                })
            },
            changeClearInput(){
                this.search.value = ''
                this.getRecords()
            }
        }
    }
</script>
