<template>
						<div class="col-md-12">
							<section class="panel panel-primary">
								<header class="panel-heading">
									<h2 class="panel-title">{{titleDialog}}</h2>
								</header>
						<form id="form2" class="form-horizontal form-bordered">
								<section class="panel text-left">
									
									<div class="panel-body text-left">
										<div class="form-group">
											<div class="col-sm-2">
													<label class="control-label"><i class="fa fa-calendar" aria-hidden="true"></i>  Fecha</label>
													  <el-date-picker
															v-model="form.date"
															type="date"
															format="dd-MM-yyyy"
															style="width:99%"
															placeholder="Seleccionar Fecha">
													</el-date-picker>
											</div>
											<div class="col-sm-3">
												<label class="control-label"> <i class="fa fa-user" aria-hidden="true"></i>  Responsable</label>
											  <el-select  v-model="form.username" style="width:100% !important">
												<el-option
												v-for="item in personal"
												:key="item.id"
												:label="item.nombres"
												:value="item.nombres">
												</el-option>
											</el-select>		
													
											</div>
											<div class="col-sm-4">
													<label class="control-label"> <i class="fa fa-building-o" aria-hidden="true"></i> Dependencia</label>
													<el-input  size="small" v-model="form.dependence">   </el-input>
											</div>
											<div class="col-sm-3">
													<label class="control-label"><i class="fa fa-map-marker" aria-hidden="true"></i> Ubicación</label>
													<el-input  size="small" v-model="form.location">   </el-input>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-1">
													<label class="control-label">  <i class="fa fa-cog" aria-hidden="true"></i>  Codigo Int.</label>
													<el-input  size="small" v-model="form.internal_code">   </el-input>
											</div>
											<div class="col-sm-2">
													<label class="control-label"> <i class="fa fa-cog" aria-hidden="true"></i> Codigo Patrimonial.</label>
													<el-input  size="small" v-model="form.heritage_code">   </el-input>
											</div>
										
											<div class="col-sm-3">
													<label class="control-label"> <i class="fa fa-list-alt" aria-hidden="true"></i> Descripción</label>
													<el-input  size="small" v-model="form.description">   </el-input>
											</div>
											<div class="col-sm-2">
													<label class="control-label"> <i class="fa fa-list-alt" aria-hidden="true"></i> Marca</label>
													<el-input  size="small" v-model="form.brand">   </el-input>
											</div>
											<div class="col-sm-2">
													<label class="control-label"> <i class="fa fa-list-alt" aria-hidden="true"></i> Modelo</label>
													<el-input  size="small" v-model="form.model">   </el-input>
											</div>
											<div class="col-sm-2">
													<label class="control-label"> <i class="fa fa-puzzle-piece" aria-hidden="true"></i> Tipo</label>
													<el-input  size="small" v-model="form.kind">   </el-input>
											</div>
											</div>
											<div class="form-group">
											<div class="col-sm-1">
													<label class="control-label"> <i class="fa fa-tint" aria-hidden="true"></i> Color</label>
													<el-input  size="small" v-model="form.color">   </el-input>
											</div>
											<div class="col-sm-2">
													<label class="control-label"> <i class="fa fa-bars" aria-hidden="true"></i> Serie</label>
													<el-input  size="small" v-model="form.serie">   </el-input>
											</div>											
											<div class="col-sm-3">
													<label class="control-label"> <i class="fa fa-bars" aria-hidden="true"></i> Pecosa</label>
													<el-input  size="small" v-model="form.freckled">   </el-input>
											</div>
											<div class="col-sm-2 align-bottom-center">
												<label class="control-label"> <i class="fa fa-sliders" aria-hidden="true"></i> Estado</label><br>
													<el-switch v-model="form.state"  active-color="#0088cc"   inactive-color="#cccccc" active-value="Activo" inactive-value="Baja"	  active-text="Activo"  inactive-text="Baja"> </el-switch>
											</div>
											<div class="col-sm-2">
													<label class="control-label"> <i class="fa fa-tags" aria-hidden="true"></i> Unidad Medida</label>
													<el-input  size="small" v-model="form.unity">  </el-input>
											</div>
											
											<div class="col-sm-2">
													<label class="control-label"> <i class="fa fa-tasks" aria-hidden="true"></i> Cantidad</label>
													<el-input  size="small" v-model="form.quantity">   </el-input>
											</div>
										</div>
									</div>
									<footer class="panel-footer text-right">
										<el-button type="primary" icon="el-icon-check" @click="submit()" >Guardar</el-button>
										<el-button type="default" icon="el-icon-refresh-right" @click="close()">Cancelar</el-button>
									</footer>
								</section>
							</form>	
							</section>
						</div>  
                       
</template>

<script>
  import moment from 'moment'
  export default {
	   props: [ 'recordId','mostrar_form'],
    data() {
      return {
		resource:'registers',
		loading_submit: false,
		titleDialog:'Nuevo Registro',
		form: [],
		personal:[],
	  }
	  
      }, 
	     watch: {
            recordId () {
				this.create();
		
            },
		 },
		created() {
			if(this.recordId!=0){
				this. create()
				  const loading = this.$loading({
                        target:document.querySelector('.forms'),
                        fullscreen:true,
                        text: 'Espere por Favor',
                        spinner: 'el-icon-loading',

                    });
				   
			}else{
				this.initForm()
			}
          //  
            this.loadTables()
    },
    methods: {
		initForm(){
			  this.form= {
				id:null,
				date:moment().format('YYYY-MM-DD'),
				code: '',
				dependence: '',
				username: '',
				location: '',         
				modality: '',
				internal_code: '',
				freckled: '',
				heritage_code: '',
				description: '',
				state:'Activo',
				unity: 'Unid',
				quantity: 0,
				price:0.00,
				total:0.00,			
				brand: '',
				model: '',
				kind: '',
				color: '',
				Serie: ''
        }
		},
		loadTables(){
			 this.$http.get(`/${this.resource}/tables`)
                        .then(response => {
                            this.personal = response.data.personal;                            
							console.log(this.personal)
                        });
		},
		create() {
                if (this.recordId) {
					 const loading = this.$loading({
                        target:document.querySelector('.forms'),
                        fullscreen:true,
                        text: 'Espere por Favor',
                        spinner: 'el-icon-loading',

                    });
                    this.titleDialog = 'Modificar Registro';
                    this.$http.get(`/${this.resource}/record/${this.recordId}`)
                        .then(response => {
                            this.form = response.data.data;                            
                      
                        loading.close();
              
                        });
                } else {
                    this.titleDialog = 'Nuevo Producto';
                }
        },
		close() {
                this.$emit('update:mostrar_form', false)
                this.$emit('update:recordId', 0);
                this.initForm()
        },
      submit() {
       this.$confirm('Desea Guardar?', 'Sistema de Inventario Fisico', {
		  cancelButtonText: 'Cancelar',
		  confirmButtonText: 'Aceptar',
          type: 'warning'
        }).then(() => {
                this.loading_submit = true
                this.$http.post(`/${this.resource}`, this.form)
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success(response.data.msg)
                         this.close()
                       //    this.loadTables()
                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors
                        } else {
                            console.log(error)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })

        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Proceso Cancelado'
          });
        });

      }
    }
  }
</script>
<style>
.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
}
</style>