<template>
    <div>
        <div class="page-header pr-0">
            <h2><a href="/dashboard"><i class="fas fa-tachometer-alt"></i></a></h2>
            <ol class="breadcrumbs">
                <li class="active"><span>Registro de Inventario</span></li>
            </ol>
            <div class="right-wrapper pull-right sinespacios">
              <el-button type="primary" icon="el-icon-plus" class="margenes" v-if="!mostrar_form" size="mini" @click.prevent="clickCreate()">Nuevo</el-button>
              <el-button type="primary" icon="el-icon-document-copy" class="margenes" size="mini" v-if="!mostrar_form"  @click.prevent="clickOptions()">Reporte</el-button>
            </div>
        </div>
     <el-container>
            <el-main>
                <template  v-if="!mostrar_form">
             	<section class="panel panel-primary">
         			<header class="panel-heading">
						<h2 class="panel-title">Listado de Inventario</h2>
					</header>
         	<div class="panel-body text-left">
                <data-table :resource="resource">
                    <tr slot="heading">
                        <th>#</th>
                        <th class="text-center">Código Interno</th>
                        <th class="text-center">Codigo Patrimonial</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-left">Descripcion</th>
                        <th class="text-center">Pecosa</th>
                          <th class="text-center">Estado</th>
                        <th class="text-right">Acciones</th>
                    <tr>
                    <tr slot-scope="{ index, row }">
                        <td class="text-center">{{ index }}</td>
                        <td class="text-center">{{ row.internal_code }}</td>
                        <td class="text-center">{{ row.heritage_code }}</td>
                        <td class="text-center">{{ row.date }}</td>
                        <td class="text-left">{{ row.description }}</td>
                        <td class="text-center">{{ (row.freckled) }}</td>
                         <td class="text-center">{{ (row.state) }}</td>
                        <td class="text-right">
                            <button type="button" class="btn waves-effect waves-light btn-xs btn-info" @click.prevent="clickCreate(row.id)">Editar</button>
                        <template v-if="row.state=='Alta'">
                            <button type="button" class="btn waves-effect waves-light btn-xs btn-danger" @click.prevent="clickDelete(row.id,'baja')">Dar Baja</button>
                        </template>
                         <template v-else>
                            <button type="button" class="btn waves-effect waves-light btn-xs btn-info" @click.prevent="clickDelete(row.id,'alta')">Dar Alta</button>
                        </template>
                        </td>
                    </tr>
                </data-table>
            </div>

        </section>
                </template>
           </el-main>
    </el-container>
 <template  v-if="mostrar_form">
            <el-main class="forms">
            <items-form  :mostrar_form.sync="mostrar_form" :recordId.sync="recordId"></items-form>
            </el-main>
</template>
 <document-options :showDialog.sync="showDialogOptions" :showClose="true">
</document-options>

    </div>
</template>
<style>
.el-container,.el-main{
   width:100%;
    padding:0px;
}
.margenes{
    margin:0px;
      margin-top:10px !important;

}
</style>
<script>
    import ItemsForm from './form.vue'
    import DataTable from './DataTable'
    import DocumentOptions from './partials/options.vue'
    import {deletable} from './../mixins/deletable'
    export default {
        mixins: [deletable],
        components: {ItemsForm,DataTable,DocumentOptions},
        data() {
            return {               
                resource: 'registers',
                recordId: 0,
                titleDialog:'',
                showDialogOptions: false,
                form_delete:[],
                 mostrar_form:false,
            }
        },
        created() { 
        },
        methods: {
            clickCreate(recordId = 0) {

                   this.recordId = recordId;
               this.mostrar_form = true;
            },
             clickOptions() {
              //  this.recordId = recordId
                this.showDialogOptions = true
            },
            clickDelete(id,accion) {
                this.form_delete={
                    accion:accion,
                    id:id
                }
                if(accion=="baja"){
                  var mensaje="Desea Dar de Baja"
                  var accion="baja"  
                }else{
                    var mensaje="Desea Dar de Alta"  
                      var accion="alta"
                }
                 this.destroy(`/${this.resource}/${accion}/${id}`,mensaje,this.form_delete).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            }
        }
    }
</script>
