<template>
	<!-- start: page -->
		<section class="body-sign">
			<div class="center-sign">

				<div class="panel panel-sign">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Inicio Sesión</h2>
					</div>
					<div class="panel-body">
						<form action="index.html" method="post">
							<div class="form-group mb-lg">
								<label>E-mail</label>
								<div class="input-group input-group-icon">
									<input name="username" type="text" class="form-control input-lg" v-model="form.email" placeholder="Ingrese su Email" />
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-user"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="form-group mb-lg">

								<div class="input-group input-group-icon">
									<input name="pwd" type="password" class="form-control input-lg" v-model="form.password" placeholder="Ingrese su Password"/>
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-lock"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-8">
									<div class="checkbox-custom checkbox-default">
										<input id="RememberMe" name="rememberme" type="checkbox"/>
										<label for="RememberMe">Recordar mi Cuenta</label>
									</div>
								</div>
								<div class="col-sm-4 text-right">
									<button type="button" class="btn btn-primary hidden-xs" @click="submit()">Ingresar</button>
								</div>
							</div>

							<span class="mt-lg mb-lg line-thru text-center text-uppercase">
								<span>-</span>
							</span>

							<p class="text-center text-muted mt-md mb-md">&copy; Copyright 2019. Todo los Derechos reservados.</p>

						</form>
					</div>
				</div>

				
			</div>
		</section>
		<!-- end: page -->
</template>
<script>
   export default {

  //      components: {CustomerForm, DocumentOptions},
        data() {
            return {
                 loading_submit: false,
                form:[],
                errors:[]               
            }
        },
          created() {
            
            this.formInit();
        },

          methods: {
              formInit(){
                  this.errors=[]
                  this.form={
                    tienda:null,
                    user_nomb:null,
                    password:null,
                  }
              },
              submit(){
                  this.loading_submit = true
                  console.log(this.form)
                      this.$http.post(`/login`,this.form)
                        .then(response=>{
                          this.loading_submit=false
                          if(response.data.status==200){
                            this.$message.success(response.data.message)
                          window.location.href = "/registers";
                          }else{
							  this.$message.error(response.data.message)
						  }

                    }) .catch(error => {
                        if (error.response.status === 422) {
                              this.loading_submit=false
                            this.errors = error.response.data.errors
                        } else {
                            console.log(error)
                        }
                    });
              },
              loadsivamed(){
                    this.$http.get(`/${this.resource}/tienda`)
                    .then(response => {
                        this.row_sivamed = response.data.tienda;
                        console.log( response.data.tienda)
                    })
              }
          }
   }
</script>
