<template>
						<div class="col-md-12">
							<section class="panel panel-primary">
								<header class="panel-heading">
									<h2 class="panel-title">{{titleDialog}}</h2>
								</header>
						<form id="form2" class="form-horizontal form-bordered">
								<section class="panel text-left">
									
									<div class="panel-body text-left">
										<div class="form-group">
				
											<div class="col-sm-3">
													<label class="control-label">N° DNI</label>
													 <el-input  size="small" v-model="form.number">   </el-input>
													<small class="text-danger" v-if="errors.number" v-text="errors.number[0]"></small>
											</div>
											<div class="col-sm-3">
													<label class="control-label">Nombres</label>
													<el-input  size="small" v-model="form.name">   </el-input>
													<small class="text-danger" v-if="errors.name" v-text="errors.name[0]"></small>
											</div>
											<div class="col-sm-3">
													<label class="control-label">Apellido</label>
													<el-input  size="small" v-model="form.surnames">   </el-input>
													<small class="text-danger" v-if="errors.surnames" v-text="errors.surnames[0]"></small>
											</div>
											<div class="col-sm-3">
													<label class="control-label">Dependencia</label>
													<el-input  size="small" v-model="form.office">   </el-input>
													<small class="text-danger" v-if="errors.office" v-text="errors.office[0]"></small>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-3">
													<label class="control-label">Direccion</label>
													<el-input  size="small" v-model="form.position"></el-input>
													<small class="text-danger" v-if="errors.name" v-text="errors.position[0]"></small>
											</div>
											<div class="col-sm-3">
													<label class="control-label">Email</label>
													<el-input  size="small" v-model="form.email"> </el-input>
													<small class="text-danger" v-if="errors.email" v-text="errors.email[0]"></small>
											</div>
										
											<div class="col-sm-3">
													<label class="control-label">Usuario</label>
													<div>
													<el-input placeholder="Usuario" v-model="form.username" class="input-with-select">
														<el-select v-model="form.type" slot="prepend" placeholder="Tipo de Usuario">
														<el-option label="Administrador" value="1"></el-option>
														<el-option label="Invitado" value="2"></el-option>
														</el-select>
													</el-input>
													<small class="text-danger" v-if="errors.type" v-text="errors.type[0]"></small>
													</div>
													
													<small class="text-danger" v-if="errors.username" v-text="errors.username[0]"></small>
											</div>
											<div class="col-sm-3">
													<label class="control-label">Clave</label>
													<el-input  size="small" v-model="form.password" show-password></el-input>
													<small class="text-danger" v-if="errors.password" v-text="errors.password[0]"></small>
											</div>
											

										</div>
									</div>
									<footer class="panel-footer text-right">
										<el-button type="primary" icon="el-icon-check" @click="submit()" >Guardar</el-button>
										<el-button type="default" icon="el-icon-refresh-right" @click="close()">Cancelar</el-button>
									</footer>
								</section>
							</form>	
							</section>
						</div>  
                       
</template>

<script>
  import moment from 'moment'
  export default {
	   props: [ 'recordId','mostrar_form'],
    data() {
      return {
		resource:'personal',
		loading_submit: false,
		titleDialog:'Nuevo Usuario',
		errors:[],
        form: [],
	  }
	  
      }, 
	     watch: {
            recordId () {
				this.create();
		
            },
		 },
		created() {
			if(this.recordId!=0){
				this. create()
				  const loading = this.$loading({
                        target:document.querySelector('.forms'),
                        fullscreen:true,
                        text: 'Espere por Favor',
                        spinner: 'el-icon-loading',

                    });
				   
			}else{
				this.initForm()
			}
          //  
          //  this.loadTables()
    },
    methods: {
		initForm(){
			  this.form= {
				id:null,
				number: '',         
				name: '',
				username:'',
				surnames: '',
				office: '',
				position: '',
				users_id:null,
      		  }
		},
		    create() {
                if (this.recordId) {
					 const loading = this.$loading({
                        target:document.querySelector('.forms'),
                        fullscreen:true,
                        text: 'Espere por Favor',
                        spinner: 'el-icon-loading',

                    });
                    this.titleDialog = 'Modificar Usuario';
                    this.$http.get(`/${this.resource}/record/${this.recordId}`)
                        .then(response => {
                            this.form = response.data.data;                            
							console.log( this.form);
                       		loading.close();
              
                        });
                } else {
                    this.titleDialog = 'Nuevo Usuario';
                }
            },
		close() {
                this.$emit('update:mostrar_form', false)
                this.$emit('update:recordId', 0);
                this.initForm()
        },
      submit() {
       this.$confirm('Desea Guardar?', 'Sistema de Inventario Fisico', {
		  cancelButtonText: 'Cancelar',
		  confirmButtonText: 'Aceptar',
          type: 'warning'
        }).then(() => {
                this.loading_submit = true
                this.$http.post(`/${this.resource}`, this.form)
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success(response.data.msg)
                         this.close()
                       //    this.loadTables()
                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors
                        } else {
                            console.log(error)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })

        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Proceso Cancelado'
          });
        });

      }
    }
  }
</script>
<style>
.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
}
  .el-select .el-input {
    width: 110px;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
</style>