<template>
    <div>
        <div class="page-header pr-0">
            <h2><a href="/dashboard"><i class="fas fa-tachometer-alt"></i></a></h2>
            <ol class="breadcrumbs">
                <li class="active"><span>Registro de Usuarios</span></li>
            </ol>
            <div class="right-wrapper pull-right sinespacios">
              <el-button type="primary" icon="el-icon-plus" class="margenes" v-if="!mostrar_form" size="mini" @click.prevent="clickCreate()">Nuevo</el-button>
              <el-button type="primary" icon="el-icon-document-copy" class="margenes" size="mini" v-if="!mostrar_form"  @click.prevent="clickOptions()">Reporte</el-button>
            </div>
        </div>
     <el-container>
            <el-main>
                <template  v-if="!mostrar_form">
             	<section class="panel panel-primary">
         			<header class="panel-heading">
						<h2 class="panel-title">Listado de Usuarios</h2>
					</header>
         	<div class="panel-body text-left">
                <data-table :resource="resource">
                    <tr slot="heading">
                        <th>#</th>
                        <th class="text-center">N° DNI</th>
                        <th class="text-center">Nombre Apellidos</th>
                        <th class="text-center">Email</th>
                        <th class="text-left">Oficina</th>
                        <th class="text-right">Acciones</th>
                    <tr>
                    <tr slot-scope="{ index, row }">
                        <td class="text-center">{{ index }}</td>
                        <td class="text-center">{{ row.number }}</td>
                        <td class="text-center">{{ row.name }} {{ row.surnames }}</td>
                        <td class="text-center">{{ row.email }}</td>
                        <td class="text-left">{{ row.office }}</td>
                        <td class="text-center">{{ (row.position) }}</td>
                        <td class="text-right">
                            <button type="button" class="btn waves-effect waves-light btn-xs btn-info" @click.prevent="clickCreate(row.id)">Editar</button>
                            <button type="button" class="btn waves-effect waves-light btn-xs btn-danger" @click.prevent="clickDelete(row.id)">Eliminar</button>
                        </td>
                    </tr>
                </data-table>
            </div>

        </section>
                </template>
       <template  v-if="mostrar_form">
            <el-main class="forms">
            <items-form  :mostrar_form.sync="mostrar_form" :recordId.sync="recordId"></items-form>
            </el-main>
</template>          
           </el-main>
    </el-container>


    </div>
</template>
<style>
.el-container,.el-main{
   width:100%;
    padding:0px;
}
.margenes{
    margin:0px;
      margin-top:10px !important;

}
</style>
<script>
    import ItemsForm from './personal_form.vue'
    import DataTable from './DataTable'
    import {deletable} from './../mixins/deletable'
    export default {
        mixins: [deletable],
        components: {ItemsForm,DataTable},
        data() {
            return {               
                resource: 'personal',
                recordId: 0,
                titleDialog:'',
                showDialogOptions: false,
                form_delete:[],
                 mostrar_form:false,
            }
        },
        created() { 
        },
        methods: {
            clickCreate(recordId = 0) {

                   this.recordId = recordId;
               this.mostrar_form = true;
            },
             clickOptions() {
              //  this.recordId = recordId
            
                this.showDialogOptions = true
            },
            clickDelete(id,accion) {
                this.form_delete={
                    accion:accion,
                    id:id
                }
              
                    var mensaje="Desea Eliminar"  
                      var accion="eliminar"
                
                 this.destroy(`/${this.resource}/baja`,mensaje,this.form_delete).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            }
             }   
    }
</script>
