<template>
    <el-dialog :title="titleDialog" :visible.sync="showDialog" @open="create"
               :close-on-click-modal="false"
               :close-on-press-escape="false"
               :show-close="false">

                                    <div class="form-group">
                                      <div class="col-sm-12">
										<template>
                            <el-radio v-model="radio" label="1" >Reporte de Inventario</el-radio>
                            <el-radio v-model="radio" label="2" >Ficha de Levantamiento de Bienes</el-radio>
                            </template>

									</div>  
                                    </div>
                                      <div class="form-group">
											<div class="col-sm-4">
													<label class="control-label">Desde</label>
													    <el-date-picker width="98%" v-model="value1" type="date" @change="clickDownload('NO')"> </el-date-picker>
                                                        <span class="text-danger" v-text="errors.msg_desde"> </span>
											</div>
											<div class="col-sm-4">
													<label class="control-label">Hasta</label>
													<el-date-picker align="left" v-model="value2" type="date" @change="clickDownload('NO')"> </el-date-picker>
                                                    <span class="text-danger"  v-text="errors.msg_hasta"></span>
											</div>
											<div class="col-sm-4">
                                             <div style="visibility: hidden"></div>
													   <button  type="button" @click="clickDownload('SI')" class="btn waves-effect waves-light btn-sm btn-primary">
                                                        <i class="fa fa-download"></i>&nbsp;&nbsp;Descargar
                                                    </button>
											</div>
											
		                        </div>
                                <footer class="panel-footer text-right" style="background:#fff;margin-top:10px;">
										 <template v-if="showClose">
                                             <button type="button" class="btn btn-light" @click="clickClose">
                                                 <i class="fa fa-times"></i> Cerrar
                                            </button>

                                </template>
								</footer>
    
  
    </el-dialog>
</template>

<script>
    import moment from 'moment'
    export default {
        
        props: ['showDialog', 'recordId', 'showClose', 'urlContinue'],
        data() {
            return {
                titleDialog: null,
                loading: false,
                value1:'',
                value2:'',
                radio: '1',
                resource: 'registers',
                errors: {},
                form: {},
            }
        },

        created() {
            this.initForm()
        },
        methods: {
            initForm() {
                this.errors ={
                    msg_desde:'',
                    msg_hasta:''
                };
                this.form = {
                    id: null,
                    number: null,
                    customer_email: null,
                    download_pdf: ''
                }
            },
            
            create() {
                this.titleDialog = 'Reporte de Inventario'
                
            },

            tipo_reporte(value){
                this.form.download_pdf=this.resource+value

            },
            clickDownload(accion) {
             
                if (this.value1==null && this.value2==null ) {
                   this.errors ={  
                  msg_desde:'El campo desde es es obligatorio.',
                   msg_hasta:'El campo hasta es obligatorio.'
                   }
                 }else if (this.value1==null && !this.value2==null ) {
                    this.errors ={
                    msg_desde:'El campo desde es es obligatorio.',
                     }
                }else if  (this.value2===null  && !this.value1==null) {
                    this.errors ={
                    msg_hasta:'El campo hasta es obligatorio.'
                     };                  
                }else if (!this.value2==""  && !this.value1=="" && accion==="SI") {
                     
                   var fecha1=moment(this.value1, 'YYYY-MM-DD').format('YYYY-MM-DD');
                   var fecha2=moment(this.value2, 'YYYY-MM-DD').format('YYYY-MM-DD');
                     window.open(`/registers/reports/${this.radio}/${fecha1}/${fecha2}`, '_blank');
                  //  window.open(this.form.download_pdf, '_blank');
                         this.errors ={}
                }else if (this.value1=="" && this.value2=="") {
                   this.errors ={  
                  msg_desde:'El campo desde es es obligatorio.',
                   msg_hasta:'El campo hasta es obligatorio.'
                   }
                 }else if (this.value1==null && !this.value2=="" ) {
                    this.errors ={
                    msg_desde:'El campo desde es es obligatorio.',
                     }
                }else if  (this.value2===""  && !this.value1=="") {
                    this.errors ={
                    msg_hasta:'El campo hasta es obligatorio.'
                     };                  
                }
                
            },
           
            clickFinalize() {
                location.href = `/${this.resource}`
            },
            clickNewDocument() {
                this.clickClose()
            },
            clickClose() {
                this.$emit('update:showDialog', false)
                this.initForm()
            },
    
        }
    }
</script>
